* {
    margin: 0;
    padding: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
:root {
    --primary-color: #ff595e;
    --secondary-color: #14bdeb;
    --accent1-color: #52489c;
    --accent2-color: #f7f6c5;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #ff595e;
    --nav-link-color: #14bdeb;
    --nav-hover-link-color: #52489c;
    --nav-hover-background-color: #f7f6c5;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
}
.hero {
    position: relative;
}
nav a {
    color: var(--nav-link-color);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}
.hero h1 {
    top:20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(82, 72, 156, 0.5);
    color: #FFF9E3;
}
article {
    position: absolute;
    top: 100px;
    background-color: rgba(20, 189, 235, 0.5);
}
article img {
    float: right;
    max-width: 150px;
    height: auto;
    margin: 10px;
}
footer {
    text-decoration: none;
}