body {
    max-width: 450px;
}
form {
    display: grid;
    grid-template-columns: 100%;
    border: 1px solid #BBB;
    background-color: #DDD;
    padding: 10px;
}
.label {
    margin-top: 2px;
    margin-bottom: 2px;
}
.input {
    margin-bottom: 15px;
}
p {
    background-color: black;
    color: white;
    padding: 10px;
}
#submit-button {
    padding: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid #CCC;
}