* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #BBB;
    margin: 0;
    padding: 0;
}
nav a {
    color: #2016ED;
}
main img {
    width: 150px;
    height: auto;
    float:right;
}

main {
    max-width: 840px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
aside {
    width: 20rem;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 15px;
    left: 85px;
    color: white;
}
p { padding: 0;}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}