* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #BBB;
    margin: 0;
    padding: 0;
}
nav a {
    color: #2016ED;
}
main img {
    width: 150px;
    height: auto;
}

main {
    max-width: 840px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba (0,0,0,0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
p { padding: 0;}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}